<ion-content class="ion-padding">
  <h1>Sports records &#9917;</h1>
  <h3>Your time on quiz: {{ durationSeconds }} seconds</h3>
  <h3>Your score on quiz: {{ correctOptions }}/{{ nbrOfQuestions }}</h3>
  <h3>Correctness: {{ correctness }}%</h3>
  <div>
  <p>{{ feedback }}</p>
</div>
<div>
  <ion-button color="dark" block (click)="correctAnswers()">Correct answers</ion-button>
</div>
  
