<ion-content class="ion-padding">
    <h1>Sports records &#9917;</h1>
    <p>
      {{questionCounter}}/{{questions.length}}
    </p>
  <div>
    <p>{{activeQuestion?.question}}</p>
  </div>
  <ion-list>
    <div *ngFor="let option of activeQuestion?.options; let i=index">
      <ion-button *ngIf=!feedback (click)="checkOption(i, activeQuestion)" expand="block" color="medium">{{option}}</ion-button>
    </div>
  </ion-list>
      <img *ngIf=feedback src="../../assets/img/next.png"
        (click)="setQuestion()" tappable />
      <p class="home">{{feedback}}</p>
</ion-content>
