<ion-content class="ion-padding">
    <h1>Sports records &#9917;</h1>
  <div>
    <h2>Correct answers</h2>
  </div>
  <div *ngFor="let question of questions">
    <p>"{{ question.question }}" &#8594; {{ question.options[question.correctOption] }}</p>
  </div>
  <ion-button color="dark" block (click)="goHome()">End quiz</ion-button>
</ion-content>

