ion-content {
--ion-background-color:	#5d7996;
}
ion-header {
--ion-background-color: #2e3b4746;
border-bottom: 2px solid #000000;
}
h1 {
    font-family: Impact;
}
.home {
    font-style: italic;
}


