<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Sports records quiz &#9917;</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <p class="home">What do you know about sports?</p>
  </div>
  <div class="padding">
    <p class="home">Your knowhow of sports records will be estimated according to correct answers and answering speed.</p>
  </div>
  <div>
    <ion-button color="dark" block (click)="start_quiz()">Start quiz!</ion-button>
</div>
</ion-content>
